<div class="car">
    <h1>Car Insurance Quotes</h1>
</div>

<div class="details" style="padding-bottom: 30px;">

    <div class="child">


        <div class="info">
            <div class="rbn">
                <a>Home <img src="https://static.renewbuy.com/pstatic/portal/images/breadcrum_arrow.c9bb636b65a8.png"
                        style="height: 35px;"></a>
                <a>Motor Insurance <img
                        src="https://static.renewbuy.com/pstatic/portal/images/breadcrum_arrow.c9bb636b65a8.png"
                        style="height: 35px;"></a>
                <a>Car Insurance <img
                        src="https://static.renewbuy.com/pstatic/portal/images/breadcrum_arrow.c9bb636b65a8.png"
                        style="height: 35px;"> </a>
                <a>Car Insurance Quotes </a>
            </div>
            <p>
                As per the Indian Motor Act, it is mandatory to get your car insured. There are many renowned
                companies selling car insurance on both online and offline. Before buying any policy or choosing a
                company, it
                will be wise to go through the terms, conditions, coverage, benefits and advantages of the different
                policies
                offered by them. Once done, one should opt for a company and policy that gives one maximum benefits.
            </p><br>
            <p>


                In this digital age when everything is available at the click of a mouse button, buying a policy online
                is
                prudent as one could compare and contrast different policies on offer. When you open the web page of any
                company, you come across a webpage where you can see different quotes for both the purchase and renewal
                of
                policy. The only thing that you are required to do is fill in the registration number and then get an
                instant
                list of car insurance quotes.

            </p><br>
            <p>

                The online car insurance quotes give you the details of the premium that you need to pay for different
                policies.
                The top insurers provide free car insurance quotes. Read the policy carefully and choose the one that
                suits your
                pocket as well as gives the maximum coverage. Get a list of different online car insurance quotes from
                RenewBuy
                with discounted price, add-on services and final price.

            </p>

            <h1 style="font-size: 30px;padding-top: 20px; margin: 0; font-weight: 700;
            font-family: inherit; color: inherit;">Benefits of buying car insurance:</h1>

            1.Protection against financial loss due to accident<br>
            2.Covers loss or damage to your vehicle in case of natural or man-made calamities<br>
            3.Personal accident cover for both the owner and the registered driver<br>
            4.Protects against third party legal liability due to damages in accidents resulting in permanent injury or
            death<br>
            5.Legally mandatory hence protection against fines and penalties<br>

            <marquee style="margin-top:40px;">Ajay Oak saved 51% on Toyota Fortuner "Apart from getting me a faboulous discount of over 50%,
                renewbuy.com made the process so easy to renew my policy." Rajesh Relan saved 50% on Mercedes E280 "Had
                an excellent customer experience with best quote as compared to other aggregator sites. I was delivered
                the policy well within the promised timeline." Muralidhara Kadaba "Great experience. Quick. Easy. Hassle
                free." Rajat Bahadursaved 50% on Volkswagen Vento "I had to renew the insurance for my wife's car on the
                last day of expiry. Even though it was a complex case of transfer from a lease company, team RenewBuy
                delivered a swift and seamless experience via their website and brought about savings of more than 50%
                on the premium from last year. The entire process took only 30 minutes from the comfort of my office!!"
                Amit Sinha saved 33% on Maruti Alto "Had an excellent customer experience with best quote as compared to
                other aggregator sites. I was delivered the policy well within the promised timeline."
            </marquee>


        </div>
        <div class="search">
            <div class="search-box">

                <div class="search-heading">Get Instant Quote</div>
                <div class="vehicle-in"><input class="vehicle" type="text" placeholder="Type your Car/Bike Model"></div>
                <div class="year-in"><select class="year" name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select></div>
                <div class="submit-in">
                    <button class="submit"> Submit</button>

                </div>
            </div>
        </div>
    </div>

</div>